.main {
  position: relative;
  width: calc(min(100rem, 100%));
  margin: 0 auto;
  min-height: 100vh;
  column-gap: 3rem;
  padding-block: min(20vh, 3rem);
  background-color: #F3E7C0;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 5%;
  color: rgb(100, 68, 25);
}

.description {
  flex: 1;
  padding-right: 20px;
  line-height: 2;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5%;
}

.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10%;
}

.swiperWrapper {
  position: relative;
  width: 55%;
  margin-right: 10%;
  
}

.swiperContainer {
  width: 100%;
  height: 300px;
  margin-top: 5%;
  border-radius: 20px;
}

.swiperSlide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  
}

.swiperSlide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.slideContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(100, 68, 25, 0.9);
  color: #F3E7C0;
  text-align: center;
  box-sizing: border-box;
  border-radius: 20px;
}


.slideContent h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.slideContent a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #644419;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.slideContent a:hover {
  background-color: #F3E7C0;
  color: #644419;
  font-weight: bold;
}

.newsCards {
  display: grid;
  width: 90%;
  margin: 5% auto;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 100%;
  align-items: center;
}

.newsItem {
  height: 200px;
  margin-bottom: 3%;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #644419;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease-in-out;
}

.newsItem:hover {
  transform: scale(1.5);
}

.newsTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5%;
  line-height: 1.5;
}

.newsDescription {
  font-size: 14px;
  color: #555;
  margin-bottom: 5%;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.newsLink {
  color: #644419;
  text-decoration: none;
  margin-top: 10%;
  font-weight: bold;
  display: inline-block;
  align-items: center;
}

.newsLink:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    padding-block: 1rem;
  }

  .content {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 2rem;
  }

  .description {
    padding-right: 0;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 16px;
  }

  .title {
    font-size: 30px;
  }

  .swiperWrapper {
    width: 100%;
    margin-right: 0;
  }

  .swiperContainer {
    height: 200px;
  }

  .newsCards {
    grid-template-columns: repeat(1, 1fr);
  }
}