.contents {
  display: flex;
  width: 40rem;
}

.contents2 {
  display: flex;
  width: 10rem;
  margin-right: 33px;
}

@media (max-width: 992px) {
  .contents {
    width: 33rem;
    justify-content: center;
  }

  .content2 {
    display: none;
  }
}

@media (max-width: 768px) {
  .contents {
    display: none;
  }

  .content2 {
    display: none;
  }
}
