.contents {
  display: flex;
  width: 45rem;
}

.contents > div:first-child {
  max-width: fit-content !important;
}

.contents li {
  opacity: 1 !important;
  height: inherit !important;
  position: relative !important;
  pointer-events: all !important;
}

.contents li:last-child {
  display: none !important;
}

.contents2 {
  display: flex;
}

.move-badge bdi {
  transform: translateY(20%);
}

@media (max-width: 992px) {
  .contents {
    width: 45rem;
    justify-content: end;
  }

  .contents > div:first-child {
    max-width: 70% !important;
  }

  .contents li {
    font-size: 0.8rem;
    padding: 0 1rem !important;
  }

  .content2 {
    display: none;
  }
}

@media (max-width: 860px) {
  .contents {
    width: 37rem;
    justify-content: end;
  }

  .contents > div:first-child {
    max-width: 60% !important;
  }

  .contents li {
    font-size: 0.8rem;
    padding: 0 0.5rem !important;
  }
}

@media (max-width: 768px) {
  .contents {
    display: none;
  }

  .content2 {
    display: none;
  }
}
