.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #ffffff;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%; /* 제목이 무조건 두 줄로 나누어지도록 너비를 100%로 설정 */
  white-space: pre-wrap; /* 줄바꿈 허용 */
  line-height: 1.5;
}

.searchInput {
  padding: 15px;
  margin: 20px 0px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  width: 70%;
  font-size: 16px;
  font-weight: 600;
}

.searchInput::placeholder {
  color: #cccccc; /* placeholder 텍스트 색상 */
  font-size: 16px; /* placeholder 텍스트 폰트 크기 설정 */
  opacity: 1; /* IE에서 placeholder 텍스트 색상을 변경하기 위함 */
}


/* 모바일 화면 크기에서 스타일 조정 */
@media (max-width: 768px) {

  .title {
    font-size: 15px; /* 모바일 화면에서 글씨 크기 줄임 */
  }

  .searchInput, .searchInput::placeholder {
    font-size: 10px; /* 모바일 화면에서 입력과 placeholder 폰트 크기 줄임 */
    width: 90%;
  }

  .tabContainer {
    font-size: 12px;
  }
}

