.fraud-menu {
  width: 400px;
  background-color: rgb(221, 221, 221);
  height: 100%;
  overflow-y: scroll;
}

.fraud-menu::-webkit-scrollbar {
  display: none;
}

.fraud-menu__first,
.fraud-menu__second {
  width: 90%;
  background-color: rgba(128, 128, 128, 0.208);
  padding-bottom: 1rem;
  margin: 1rem 0;
}

.fraud-menu__title {
  background-color: #ffffff;
  width: 100%;
  padding: 1rem 0.5rem;
  font-weight: bold;
  box-sizing: border-box;
}

.fraud-menu-box {
  width: 90%;
  padding: 1rem 0.5rem;
}

.fraud-menu-input__title {
  margin-bottom: 0.8rem;
  font-size: 1rem;
}

.fraud-menu-checkbox {
  width: 90%;
}
