@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
  /* color: brown; */
}

.container {
  background-color: aliceblue;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.menu {
  box-sizing: border-box;
  width: 25rem;
  height: 94vh;
  overflow: auto;
  padding: 1rem;
  background-color: #fffbe2;
  line-height: 40px;
}

.contents {
  box-sizing: border-box;
  width: calc(100% - 27rem);
  height: 94vh;
  justify-content: center;
  overflow: auto;
}

.contents-center {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

.pages {
  max-width: 21cm;
  max-height: 29.7cm;
  padding: 6rem 3rem 3rem 3rem;
  border: 0.5px solid darkgray;
  font-family: "NotoSerifKR", serif;
  letter-spacing: 1px;
  line-height: 30px;
  background-color: white;
  margin-bottom: 0.5rem;
}

.button-box {
  max-width: 21cm;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2rem 1rem 2rem 0;
}

.title {
  text-align: center;
  font-weight: 1000;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
}

.numbers {
  padding-left: 2rem;
}

.page-content {
  padding-left: 2rem;
  margin: 10px 0 10px 0;
}

.menu-title {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 1rem;
  background-color: white;
}

.menu-content {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 1rem;
}

.menu-mini {
  background-color: rgba(228, 228, 228, 0.479);
  margin-bottom: 1rem;
}

.date {
  text-align: center;
  margin: 5rem 0 2rem 0;
}

.signature {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 1400px) {
  .container {
    background-color: aliceblue;
    width: 100%;
    height: 94vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /* 열 방향 정렬 추가 */
    position: relative;
    align-items: center;
  }

  .menu {
    height: auto; /* 높이 자동 조정 */
    overflow: auto;
    padding: 1rem;
    background-color: #fffbe2;
    line-height: 40px;
    flex: 1; /* 컨테이너에 맞춰 자동으로 높이 조정 */
    width: 100%; /* 가로 너비 100%로 설정 */
  }

  .contents {
    height: auto; /* 높이 자동 조정 */
    justify-content: center;
    overflow: auto;
    flex: 1; /* 컨테이너에 맞춰 자동으로 높이 조정 */
    width: 100%; /* 가로 너비 100%로 설정 */
  }
}
