@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@font-face {
  font-family: "NotoSerifKR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NotoSerifKR.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
  /* color: brown; */
}

.container {
  background-color: aliceblue;
  width: 100%;
  height: 94vh;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
}

.menu {
  box-sizing: border-box;
  width: 25rem;
  height: 94vh;
  overflow: auto;
  padding: 1rem;
  background-color: #fffbe2;
  line-height: 40px;
}

.contents-center {
  display: flex;
  flex-direction: column;
  width: auto;
  align-items: center;
}

.pages {
  width: 45rem;
  height: 85%;
  padding: 2rem;
  border: 0.5px solid darkgray;
  font-family: "NotoSerifKR", serif;
  letter-spacing: 1px;
  line-height: 30px;
  background-color: white;
  overflow-y: scroll;
  transition: all 0.2s;
  margin: 0 auto;
}

.pages::-webkit-scrollbar {
  display: none;
}

.button-box {
  max-width: 21cm;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 2rem 1rem 2rem 0;
}

.title {
  text-align: center;
  font-weight: 1000;
  font-size: 1.5rem;
  margin: 2rem 0 2rem 0;
}

.numbers {
  padding-left: 2rem;
}

.page-content {
  padding-left: 2rem;
  margin: 10px 0 10px 0;
}

.menu-title {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 1rem;
  background-color: white;
}

.sub-title {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 1rem;
  background-color: white;
  font-size: 1.3rem;
}

.menu-content {
  font-weight: bold;
  margin-bottom: 5px;
  padding: 1rem;
}

.menu-mini {
  background-color: rgba(228, 228, 228, 0.479);
  margin-bottom: 1rem;
}

.date {
  text-align: center;
  margin: 5rem 0 2rem 0;
}

.date:last-child {
  font-size: 2rem;
}

.signature {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

@media (max-width: 1400px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .menu {
    width: 100%;
    height: 35vh;
  }

  .pages {
    width: 35rem;
    height: calc(100vh - 41.5vh);
    padding: 0 2rem;
    font-family: "NotoSerifKR", serif;
    letter-spacing: 1px;
    line-height: 30px;
    background-color: white;
    overflow-y: scroll;
    transition: all 0.2s;
    border: 0.5px solid darkgray;
    box-sizing: content-box;
  }

  .title {
    font-size: 1.2rem;
    margin: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  .info {
    font-size: 0.9rem;
  }

  .numbers {
    padding: 0;
  }

  .date:last-child {
    font-size: 1.5rem;
  }
}

@media (max-width: 1000px) {
  .pages {
    height: calc(100vh - 49vh);
  }
  .page-content {
    padding: 0;
    line-height: 2rem;
  }
}

@media (max-width: 800px) {
  .info {
    font-size: 0.6rem;
    line-height: 1.3rem;
  }

  .title {
    font-size: 1rem;
    margin: 1rem 0;
  }
  .pages {
    width: 25rem;
    transition: all 0.2s;
  }

  .sub-title {
    font-size: 0.8rem;
    padding: 0.8rem;
  }

  .page-content {
    padding: 0;
    line-height: 0.9rem;
  }

  .signature {
    font-size: 0.8rem;
  }

  .date {
    font-size: 1.1rem;
  }
  .date:last-child {
    font-size: 1.3rem;
    margin: 2rem 0;
  }
}

@media (max-width: 576px) {
  .info {
    font-size: 0.4rem;
    line-height: 0.8rem;
  }

  .title {
    font-size: 0.8rem;
    margin: 0.5rem 0;
  }

  .sub-title {
    padding: 0.2rem;
    font-size: 0.6rem;
  }

  .pages {
    width: 15rem;
    transition: all 0.2s;
  }

  .signature {
    font-size: 0.6rem;
  }

  .date {
    font-size: 0.8rem;
    margin: 2rem 0 1rem 0;
  }

  .date:last-child {
    font-size: 1rem;
    margin: 1rem 0;
  }
}
