.container {
  display: flex;
  background-color: aliceblue;
}

.left-menu {
  box-sizing: border-box;
  width: 25rem;
  height: 94vh;
  overflow: auto;
  padding: 1rem;
  background-color: #fffbe2;
  line-height: 40px;
}

.right-menu {
  box-sizing: border-box;
  background-color: aliceblue;
  width: calc(100% - 27rem);
  height: 94vh;
  justify-content: center;
  overflow: auto;
}

@media (max-width: 1400px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .left-menu {
    width: 100%;
    height: 35vh;
    overflow: auto;
  }
  .right-menu {
    width: 100%;
    height: calc(100vh - 41vh);
    overflow: auto;
  }
}

@media (max-width: 1000px) {
  .right-menu {
    width: 100%;
    height: calc(100vh - 49vh);
    overflow: auto;
  }
}
