.container {
  display: flex;
  background-color: aliceblue;
}

.left-menu {
  box-sizing: border-box;
  width: 25rem;
  height: 94vh;
  overflow: auto;
  padding: 1rem;
  background-color: #fffbe2;
  line-height: 40px;
}

.right-menu {
  box-sizing: border-box;
  background-color: aliceblue;
  width: calc(100% - 27rem);
  height: 94vh;
  justify-content: center;
  overflow: auto;
}
