/* LoadingImage.module.css 수정 */

.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #fce6c8, #faf0e2); /* 그라데이션 색상 */
  z-index: 1000;
  pointer-events: none;
}

.fullImage,
.maskedImage {
  position: absolute;
  width: 30%; /* 이미지 크기, 필요에 따라 조정 */
  max-width: 400px; /* 최대 너비 */
  overflow: hidden;
}

.fullImage img,
.maskedImage img {
  width: 100%;
  display: block;
}

.fullImage {
  transition: clip-path 0.23s ease-in-out; /* 부드러운 전환 효과 추가 */
}

@keyframes waveEffect {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fireworks {
  0% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

.fireworksEffect {
  position: absolute;
  top: 10%;
  left: 40%;
  transform: translate(-50%, -50%); /* 중앙 정렬 보정 */
  width: 350px;
  height: 350px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 213, 0, 1) 50%,
    rgba(255, 165, 0, 0.7) 100%
  );
  border-radius: 50%;
  animation: fireworks 1.5s ease-out forwards;
  display: none; /* 기본적으로는 숨겨져 있음 */
}

.progressBar {
  position: absolute;
  bottom: 15%; /* 위치 조정 */
  width: 50%;
  height: 20px;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden; /* 넘치는 부분 숨김 */
}

.progress {
  height: 100%;
  background: linear-gradient(60deg, #ff9a9e, #fad0c4, #fad961, #f76b1c);
  background-size: 400% 400%;
  width: 0;
  border-radius: 8px;
  animation: waveEffect 3s ease infinite; /* 애니메이션 추가 */
  transition: width 0.3s ease; /* 너비 변화 시 부드러운 전환 효과 추가 */
}

.loadingText {
  position: absolute;
  bottom: 10%; /* 위치 조정 */
  font-size: 20px; /* 글자 크기 */
  color: #644419; /* 글자 색상 */
  font-weight: bold; /* 글자 굵기 */
}

.confettiContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  overflow: hidden;
}

.confetti {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-size: cover;
  opacity: 0;
  animation: confettiAnimation 5s linear forwards;
}

@keyframes confettiAnimation {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
  }
  20% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 200%) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, 200%) scale(0);
    opacity: 0;
  }
}

  @media (max-width: 768px){
    
    .loadingText {
      position: absolute;
      bottom: 15%; /* 위치 조정 */
      font-size: 16px; /* 글자 크기 */
      color: #644419; /* 글자 색상 */
      font-weight: bold; /* 글자 굵기 */
    }

    .progress {
      height: 100%;
      width: 100%;
      margin-bottom: 20%;
      background: linear-gradient(60deg, #ff9a9e, #fad0c4, #fad961, #f76b1c);
      background-size: 400% 400%;
      border-radius: 8px;
      animation: waveEffect 3s ease infinite; /* 애니메이션 추가 */
      transition: width 0.3s ease; /* 너비 변화 시 부드러운 전환 효과 추가 */
    }

    .progressBar {
      position: absolute;
      bottom: 25%; /* 위치 조정 */
      width: 70%;
      height: 20px;
      background-color: #eee;
      border-radius: 8px;
      overflow: hidden; /* 넘치는 부분 숨김 */
    }

    .fullImage,
    .maskedImage {
      position: absolute;
      width: 60%; /* 이미지 크기, 필요에 따라 조정 */
      max-width: 400px; /* 최대 너비 */
      overflow: hidden;
}



  }

