.messageBubbleContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 아래로 정렬 */
    align-items: flex-end; /* 오른쪽 정렬 */
    max-width: 600px; /* 최대 너비 제한 */
    gap: 40px;
    margin-left: auto; /* 오른쪽으로 최대한 밀기 */
  }
  
  .messageBubble {
    max-width: 400px; /* 메시지 최대 너비 제한 */
    padding: 10px;
    border-radius: 18px;
    padding: 8px 16px;
    word-wrap: break-word; /* 긴 단어는 자동으로 줄바꿈 */
    line-height: 1.5;
  }
  
  .sent {
    align-self: flex-end; /* 오른쪽 정렬 */
    background-color: #007aff;
    color: white;
  }
  
  .received {
    align-self: flex-start; /* 왼쪽 정렬 */
    background-color: #e5e5ea;
    color: black;
  }