/* RecommendResultPage.module.css */
.resultSection {
    padding: 5%;
    background: #F3E7C0;
    /* 배경색은 원하는 대로 설정 */
}

.resultSection h2 {
    font-size: 36px;
    font-weight: bold;
    margin: 2% 13%;
    margin-bottom: 5%;
    color: #644419;

}

/* 만약 반응형 디자인이 필요하다면 */
@media (max-width: 768px) {
    .resultSection {
        padding: 10px;
    }
}