/* RecommendResultPage.module.css */
.resultSection {
    padding: 20px;
    margin: 5% 5%;
    background: #f5f5f5;
    /* 배경색은 원하는 대로 설정 */
}

.resultSection h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

/* 만약 반응형 디자인이 필요하다면 */
@media (max-width: 768px) {
    .resultSection {
        padding: 10px;
    }
}