.recommendSearchContainer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.stepsContainer {
  width: 10%;
  height: 100%;
  margin-top: 1.5%;
  margin-left: 10%;
  position: sticky;
}

.searchContainer {
  background-color: #f5f5f5;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0px;
  gap: 40px;
  position: relative;
}

.searchItem {
  width: 50%;
  height: 150px;
  margin-left: 5%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchItem h4 {
  font-size: 20px;
  font-weight: 600;
}

.searchItemContent {
  width: 200%;
  display: flex;
  align-items: center;
}

.recommendTextMessageWrapper {
  width: 35%;
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
  top: -20px;
}

.searchFirstItem {
  width: 100%;
  height: 100px;
  margin-left: 5%;
  margin-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchFirstItem h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 3% 0;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.soboroIcon {
  width: 80px;
  height: 80px;
}

.textAreaWrapper {
  position: relative;
  width: 40%;
}

.inputCount {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #888;
}

.redBorder {
  border-color: #ff4d4f !important;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 모바일 화면용 미디어 쿼리 */
@media (max-width: 768px) {
  .recommendSearchContainer {
    flex-direction: column;
    width: 100%;
  }

  .stepsContainer {
    width: 100%;
    padding-top: 20px;
    position: static;
    margin-left: 0;
  }

  .searchContainer {
    width: 100%;
  }

  .searchItem {
    width: 80%;
    margin: 20px auto;
  }

  .searchItem h4 {
    font-size: 14px;
    margin-bottom: 5%;
  }

  .recommendTextMessageWrapper {
    position: static;
    width: 100%;
    padding-right: 0;
    justify-content: center;
    margin-top: 20px;
  }
}