.recommendSearchContainer {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  gap: 10px;
}

.stepsContainer {
  width: 10%;
  height: 90%;
  margin-top: 1.5%;
  margin-left: 10%;
  position: sticky;
}

.searchContainer {
  background-color: #f5f5f5;
  flex-direction: column;
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0px;
  gap: 40px;
  position: relative;
}

.searchItem {
  width: 50%;
  height: 150px;
  margin-left: 5%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchItem h4 {
  font-size: 20px;
  font-weight: 600;
}

.searchItemContent {
  width: 200%;
  display: flex;
  align-items: center;
}

.recommendTextMessageWrapper {
  width: 35%;
  margin-right: 10%;
  margin-left: 10%;
  position: relative;
  top: -20px;
}

.searchFirstItem {
  width: 50%;
  height: 100px;
  margin-left: 5%;
  margin-bottom: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.searchFirstItem h4 {
  font-size: 20px;
  font-weight: 600;
  margin: 3% 0;
}

.fadeInUp {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s forwards;
}

.soboroIcon {
  width: 80px;
  height: 80px;
}

.textAreaWrapper {
  position: relative;
  width: 40%;
}

.submitButtonWrapper {
  position: relative;
  width: 120%;
  display: flex;
  justify-content: center;
  bottom: 50%;
  left: 15%
}

.inputCount {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 14px;
  color: #888;
}

/* 제출 버튼 스타일 */
.submitButton {
  position: relative;
  width: 200px;
  height: 60px;
  line-height: 60px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #ccc;
  cursor: pointer;
}

.submitButton:before {
  content: attr(data-hover-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #6f4b1c;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  transform-origin: bottom;
  transform: translatey(-100%) rotatex(90deg);
}

.submitButton:hover:before {
  transform: translatey(0) rotatex(0deg);
}

.submitButton:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #644419;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
  transform-origin: top;
  transform: translatey(0) rotatex(0deg);
}

.submitButton:hover:after {
  transform: translatey(100%) rotatex(90deg);
}

.redBorder {
  border-color: #ff4d4f !important;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* 모바일 화면용 미디어 쿼리 */
@media (max-width: 768px) {
  .recommendSearchContainer {
    flex-direction: column;
    width: 100%;
  }

  .stepsContainer {
    display: none;
  }

  .searchContainer {
    width: 100%;
  }

  .searchFirstItem {
    width: 100%;
    margin: 20px 10%;
  }

  .searchFirstItem h4 {
    font-size: 16px;
    margin-bottom: 5%;
  }

  .searchItem {
    width: 40%;
    margin: 20px 10%;
  }

  .searchItem h4 {
    width: 200%;
    font-size: 14px;
    margin-bottom: 10%;
  }

  .searchItemContent {
    flex-direction: column;
  }

  .textAreaWrapper {
    width: 100%;
  }

  .inputCount {
    margin-top: 0.5rem;
  }

  .recommendTextMessageWrapper {
    display: none;
  }

  .submitButtonWrapper {
    width: 150%;
    position: static;
    margin-top: 20px;
    display: flex;
    margin-left: 10%;
    margin-bottom: 100%;
  }

  .submitButton {
    width: 80%;
    margin-left: 20%;
    transform: none;
    font-size: 16px;
  }

  .submitButton:before,
  .submitButton:hover:before,
  .submitButton:after,
  .submitButton:hover:after {
    margin: 0 auto;
  }
}