.messageBubbleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 800px;
  gap: 10px;
  margin-left: auto;
  position: relative;
  right: 0;
  top: 0;
  bottom: 0;
}

.messageBubble {
  max-width: 500px;
  padding: 10px;
  border-radius: 18px;
  padding: 12px 30px;
  word-wrap: break-word;
  line-height: 1.5;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
  margin-bottom: 10px; /* 메시지 간 간격 조정 */
}

.received {
  align-self: flex-start;
  background-color: #e5e5ea;
  color: black;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
