.container {
  display: flex; /* flex container로 설정 */
  flex-direction: column; /* 아이템들을 수직으로 정렬하기 위해 column으로 설정 */
  justify-content: center; /* 수직 가운데 정렬 */
  align-items: center; /* 수평 가운데 정렬 */
  padding: 1rem;
}

.semi-title {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  color: #bcbcbc;
}

.input-photo {
  border: 1px solid #bcbcbc;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  height: 250px;
  border-radius: 20px;
  margin: 0 auto; /* 수평 가운데 정렬 */
}

.image-box {
  width: 256px;
  margin: 0 auto;
  justify-content: center;
}

.image-ratio {
  aspect-ratio: auto;
  object-fit: cover;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin: auto;
  max-width: 100%;
}
