.pages {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb {
  background: rgb(6, 95, 43, 0.4);
  border-radius: 10px;
}
