.tab-menu {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
}

.tab-container {
  width: 100%;
}

.tab {
  width: 33%;
  cursor: pointer;
  background-color: #eaa854;
  color: white;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.active {
  background-color: #bf8438;
}

.tab-menu__summary {
  position: relative;
}

.tab-menu__summary__btn {
  position: absolute;
  right: 0;
  top: -5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content-box__contents {
  position: relative;
  line-height: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-menu__title {
  font-size: 1.5rem;
}

.color-select {
  position: absolute;
  width: fit-content;
  display: flex;
  gap: 10px;
  background-color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  z-index: 2;
  transform: translateY(-120%);
}

.color-select div {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  cursor: pointer;
}

/* .color-select::after {
  content: "▼";
  font-size: 1.5rem;
  position: absolute;
  bottom: -27%;
  left: 50%;
  transform: translateX(-50%);
  color: black;
} */
