.detail-page {
  position: relative;
  background-color: #f5f5f5;
}

.container {
  width: 800px;
  padding: 1rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
  transition: all 0.2s;
}

.container__title {
  text-align: center;
  margin: 0;
}

.content-box {
  position: relative;
  min-height: 45rem;
}

.content-box__summary {
  position: absolute;
  right: 0;
  top: 0;
}

.edit-control {
  position: fixed;
  right: 5%;
  top: 10%;
  z-index: 10;
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #eaa854;
  color: white;
}

@media (max-width: 850px) {
  .container {
    width: 650px;
    transition: all 0.2s;
  }

  .container__title {
    font-size: 2rem !important;
  }
}

@media (max-width: 700px) {
  .container {
    width: 500px;
  }

  .container__title {
    font-size: 1.5rem !important;
  }
}

@media (max-width: 576px) {
  .container {
    width: 400px;
  }

  .detail-page {
    flex-direction: column;
    align-items: center;
  }

  .edit-control {
    display: none;
  }
}

@media (max-width: 410px) {
  .container {
    max-width: 300px;
  }
}